.new_project{
    width: 197px;
    height: 47px;
    border: 1px solid #141263;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    color: #141263;
    padding: 0px;
    border-radius: 8px;
}
.myproject-heading h2{
    font-size: 25px;
    font-weight: bold;
    align-content: center;
    margin: 0px;
    /* padding-left: 16px; */

}
.myproject-heading {
    align-content: center;

}
.myproject-content{
    padding-top: 42px;
}
.my-project-main-container{
    display: grid;
    gap: 36px;
}
.edit_link{
color: #141263;
border: none;
font-size: 16px;
font-weight: bold;
text-decoration: none;
background: none;}

@media(max-width: 786px){

    .myproject-heading h2{
     
        padding-left: 0px;
    
    }

}
@media (max-width: 480px) {
.new_project {
    width: 137px;
    font-size: 12px;
}
}
/* .Selected_tables{
    height: 100vh;
} */
 
 @media (min-width:991px){
    .Selected_tables{
        width: calc(100% - 310px) !important;
        margin-left: 310px !important;
     }
 }
 @media (max-width:991px){
    .Selected_tables{
    padding: 8px !important;
    }
 }
